.DS_Store
/dist
/ideaSDK
/android-studio/sdk
out/
/tmp
workspace.xml
*.versionsBackup
.gradle/
build/
*.iml
.idea/
local.properties
ClientRuntime/.build/
*/.build/
ClientRuntime/*.xcodeproj
ClientRuntime/.swiftpm
ClientRuntime/Package.resolved
*.hprof
**/xcuserdata
**/*.xcuserdata
xcuserdata