.DS_Store
/dist
/ideaSDK
/android-studio/sdk
out/
/tmp
workspace.xml
*.versionsBackup
.gradle/
build/
*.iml
.idea/
local.properties
*/.build/
ClientRuntime/*.xcodeproj
Package.resolved
*.hprof
**/xcuserdata
**/*.xcuserdata
xcuserdata
.build/
.vscode
