name: Codegen

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  codegen:
    if: github.repository == 'smithy-lang/smithy-swift' || github.event_name == 'pull_request'
    runs-on: ${{ matrix.os }}
    name: Java ${{ matrix.java }} ${{ matrix.os }}
    strategy:
      matrix:
        java: [17]
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'corretto'

      - name: Log Kotlin version
        run: |
          which kotlin
          kotlin -version

      - name: Clean and Build
        run: ./gradlew clean build -Plog-tests

      - name: Ensure there are no changes after building (e.g. a test sdk)
        run: |
          git diff
          test -z "$(git diff)"

      - name: Test on swift-tools-version 6.0
        run: |
          perl -pi -e 's{^// swift-tools-version:\d+\.\d+}{// swift-tools-version:6.0}' Package.swift
          swift build && swift test
          git restore Package.swift