name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  ktlint:
    if: github.repository == 'smithy-lang/smithy-swift' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Run ktlint
        run: ./gradlew ktlint

  swiftlint:
    if: github.repository == 'smithy-lang/smithy-swift' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/realm/swiftlint:0.58.2
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Run swiftlint
        run: swiftlint --strict --reporter github-actions-logging-
