name: Sync Staging Repo

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout smithy-swift
        uses: actions/checkout@v4
      - name: Print working directory
        run: |
          pwd
      - name: Push main to staging repo
        run: |
          git push https://${{ secrets.REPO_SYNC_AUTOMATION_USER_TOKEN }}@github.com/awslabs/private-smithy-swift-staging.git main
